<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Clan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/media/favicon/icon.png">
    <!--bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab">
    <!--custom css-->
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="/media/nav/navbrand.png" width="40" height="40" class="d-inline-block align-top">
                    The Normies
            </a>                
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/clan">Our Clan<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </nav>
        <img class="img-fluid" src="/media/header/banner.png" id="banner" alt="banner logo">
    </header>
    <main>
        <div class="container" id="wrapper">
            <div class="card" id="clan-title">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="<%= data.badge.image %>">
                        </div>
                        <div class="col-sm-10">
                            <h1> <%= data.name %></h1>
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <p class="lead"><%= data.tag %></p>
                </div>
            </div>
            <br/>
            <div class="card">
                <div class="row">
                    <div class="col-md-2">
                        <img class="clan-info-card-img" src="/media/clan/trophies.png">
                    </div>
                    <div class="col-md-4">
                        <h4 class="card-title">Trophies</h4>
                        <p class="card-text"><%= data.score %></p>
                    </div>
                    <br/>
                    <div class="col-md-2">
                        <img class="clan-info-card-img" src="/media/clan/required_trophies.png">
                    </div>
                    <div class="col-md-4">
                        <h4 class="card-title">Required Trophies</h4>
                        <p class="card-text"><%= data.requiredScore %></p>
                    </div>
                </div>
            </div>
            <br/>
            <div class="card">
                <div class="row">
                    <div class="col-md-2">
                        <img class="clan-info-card-img" src="/media/clan/members.png">
                    </div>
                    <div class="col-md-4">
                        <h4 class="card-title">Members</h4>
                        <p class="card-text"><%= data.memberCount %>/50</p>
                    </div>
                    <br/>
                    <div class="col-md-2">
                        <img class="clan-info-card-img" src="/media/clan/donations.png">
                    </div>
                    <div class="col-md-4">
                        <h4 class="card-title">Donations</h4>
                        <p class="card-text"><%= data.donations %></p>
                    </div>
                </div>
            </div>
            <br/>
            <div class="card">
                <div class="row">
                    <div class="col-md-2">
                        <img class="clan-info-card-img" src="/media/clan/international.svg">
                    </div>
                    <div class="col-md-4">
                        <h4 class="card-title">Location</h4>
                        <p class="card-text"><%= data.location.name %></p>
                    </div>
                    <br/>
                    <div class="col-md-2">
                        <img class="clan-info-card-img" src="/media/clan/clan_chest.png">
                    </div>
                    <div class="col-md-4">
                        <h4 class="card-title">Clan Chest</h4>
                        <%if(data.clanChest.status === 'active'){ %>
                            <p class="card-text"><%= data.clanChest.crowns %><br/><%= data.clanChest.level%>/<%= data.clanChest.maxLevel %></p>
                        <% } else { %>
                            <p class="card-text"><%= data.clanChest.crowns %><br/><%= data.clanChest.level%>/<%= data.clanChest.maxLevel %></p>
                        <% }%>
                    </div>
                </div>
            </div>
            <br/><br/>
            <table class="table table-dark" id="player-list">
                <thead>
                    <tr>
                        <th id="player-list-name" scope="col">Name</th>
                        <th scope="col">Level</th>
                        <th scope="col">Trophies</th>
                        <th scope="col">Arena</th>
                        <th scope="col">Clan Chest Crowns</th>
                    </tr>
                </thead>
                <tbody id="member-list">
                    <%data.members.forEach(function(member){ %>
                    <tr>
                        <td id="player-list-name"><a href="/player/<%= member.tag %>"><%= member.name %></a></td>
                        <td><%= member.expLevel %></td>
                        <td><%= member.trophies %></td>
                        <td><%= member.arena.name %></td>
                        <td><%= member.clanChestCrowns %></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </main>
    <footer>
        <% include ./partials/footer %>
    </footer>
</body>
</html>
